{% extends "../layout.twig" %}
{% block title %} Wallapop – Ofertas compradas {% endblock %}
{% block body %}
    <h1>Ofertas compradas</h1>
    <div class="table-responsive">
        <table class="table table-hover" id="tableOffersB">
            <thead>
            <tr>
                <th>Título</th>
                <th>Detalle</th>
                <th>Precio (€)</th>
                <th>Vendedor</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.detail }}</td>
                    <td>{{ offer.price }}</td>
                    <td>{{ offer.seller }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/offers/buy?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>
{% endblock %}