{% extends "layout.twig" %}
{% block title %} Mis ofertas – MyWallapop {% endblock %}
{% block body %}
    <h2>Mis ofertas</h2>
    <div class="row text-right">
        <a href="/offers/add" class="btn btn-info" role="button">Agregar oferta</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Detalle</th>
                <th>Fecha</th>
                <th>Precio</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.detail }}</td>
                    <td>{{ offer.date }}</td>
                    <td>{{ offer.price }}</td>
                    <td><a href="/offers/delete/{{ offer._id }}">Eliminar</a> <br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row text-right">
        <a href="/offers/add" class="btn btn-info" role="button">Agregar oferta</a>
    </div>
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    {% if search %}
                        <a class="page-link" href="/offers/myoffers?page={{ page }}&search={{ search }}">{{ page }}</a>
                    {% else %}
                        <a class="page-link" href="/offers/myoffers?page={{ page }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>
{% endblock %}