{% extends "layout.twig" %}
{% block title %} Mis ofertas – MyWallapop {% endblock %}
{% block body %}
    <h2>Mis ofertas</h2>
    <div id="errors">
    </div>
    <div class="row text-right">
        <a href="/offers/add" class="btn btn-info" role="button">Agregar oferta</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Detalle</th>
                <th>Fecha</th>
                <th>Precio</th>
                <th>Destacada</th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.detail }}</td>
                    <td>{{ offer.date }}</td>
                    <td>{{ offer.price }}</td>
                    {% if offer.isHighlight %}
                        <td>&#9733; <br>
                        </td>
                    {% else %}
                        <td><a href="/offers/highlight/{{ offer._id }}/{{ currentPage }}/{{ currentHighPage }}">Destacar</a> <br>
                        </td>
                    {% endif %}
                    <td><a href="/offers/delete/{{ offer._id }}">Eliminar</a> <br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    {% if search %}
                        <a class="page-link" href="/offers/myoffers?page={{ page }}&highPage={{ currentHighPage }}&search={{ search }}">{{ page }}</a>
                    {% else %}
                        <a class="page-link" href="/offers/myoffers?page={{ page }}&highPage={{ currentHighPage }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>

    <h2>Ofertas destacadas</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Detalle</th>
                <th>Fecha</th>
                <th>Precio (€)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in highOffers %}
                <tr>
                    <td>{{ offer.title }}</td>
                    <td>{{ offer.detail }}</td>
                    <td>{{ offer.date }}</td>
                    <td>{{ offer.price }}</td>
                    <td>
                        {% if offer.isBuy==false %}
                            <a class="btn btn-primary pull-right"
                               href="/offers/buy/{{ offer._id }}/{{ currentPage }}/{{ currentHighPage }}">Comprar</a>
                        {% else %}
                            <a aria-colcount="red" class="pull-right">Vendido</a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <ul class="pagination">
            {% for page in highPages %}
                <li class="page-item" id="highPi-{{ page }}">
                    {% if search %}
                        <a class="page-link" href="/offers/myoffers?page={{ currentPage }}&highPage={{ page }}&search={{ search }}">{{ page }}</a>
                    {% else %}
                        <a class="page-link" href="/offers/myoffers?page={{ currentPage }}&highPage={{ page }}">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <script>
                $("#highPi-" + "{{ currentHighPage }}").addClass("active");
            </script>
        </ul>
    </div>

    <script>
        let urlParams = new URLSearchParams(window.location.search)
        let errors = urlParams.get("errors")
        let money = urlParams.get("money")
        let page = urlParams.get("page")
        if (errors != null)
            $("#errors").append(`<li class="text-danger">${errors}</li>`);
        if (money != null) {
            $("#money").clear();
            $("#money").append(`<a>Money: ${money} €</a>`);
        }
        if (page != null)
            $("#pi-" + "{{ page }}").addClass("active");
    </script>

{% endblock %}